body {
 margin: 0;
 font-family: 'Roboto', sans-serif;
}

ul > li {
 list-style: none;
}

nav {
 display: flex;
 justify-content: space-between;
 margin-left: 10px;
 margin-right: 10px;
}

nav > ul {
 display: flex;
 column-gap: 20px;
}